<div class="page-header panel panel-default">
    <div class="panel-heading"><h1>History Stats</h1>
        <span class='lead'>{{ today | date }}</span>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style='margin-bottom: 4px;'>
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                    <span class='lead' style='margin-left: 4px;'>Dashboard</span>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div id="grid1" ui-grid="gridOptions" ui-grid-grouping class="grid"></div>
            </div>
        </div>
    </div>    
</div>