    

<div class="page-header panel panel-default">
    <div class="panel-heading"><h1>Today's Stats</h1>
        <span class='lead'>{{ today | date }}</span>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style='margin-bottom: 4px;'>
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                    <span class='lead' style='margin-left: 4px;'>Dashboard</span>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <table class='table table-striped table-responsive'>
                    <thead>
                        <button type="button" class="btn btn-default btn-link btn-sm pull-right" ng-click="toggleDashboardText = !toggleDashboardText">Display {{ toggleDashboardText ? 'Graphics' : 'Text' }}</button><br>
                        <tr>
                            <th>Swagname</th>
                            <th class="text-right">Swagbucks</th>
                            <th class="text-right">Profit</th>
                            <th colspan="4" ng-hide="toggleDashboardText">Daily Goals</th>
                            <th class="text-right" ng-show="toggleDashboardText">Goal 1</th>
                            <th class="text-right" ng-show="toggleDashboardText">Bonus 1</th>
                            <th class="text-right" ng-show="toggleDashboardText">Goal 2</th>
                            <th class="text-right" ng-show="toggleDashboardText">Bonus 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in dashboard">
                            <td>
                                {{ row.swagname }}
                            </td>
                            <td class="text-right">
                                {{ row.swagbucks }}
                            </td>
                            <td class="text-right money">
                                {{ row.profit | currency }}
                            </td>
                            <td colspan="4" ng-hide="toggleDashboardText">
                                <uib-progress max="row.goal2">
                                    <uib-bar value="getPBGoalValue(row.swagbucks, row.goal1)" type="info"><span>{{ row.goal1 }} ({{ row.bonus1 }})</span></uib-bar>
                                    <uib-bar value="getPBGoalValue(row.swagbucks, row.goal2)" type="success"><span>{{ row.goal2 }} ({{ row.bonus2 }})</span></uib-bar>
                                </uib-progress>
                            </td>
                            <td class="text-right" ng-show="toggleDashboardText">
                                {{ row.goal1 }}
                            </td>
                            <td class="text-right" ng-show="toggleDashboardText">
                                {{ row.bonus1 }}
                            </td>
                            <td class="text-right" ng-show="toggleDashboardText">
                                {{ row.goal2 }}
                            </td>
                            <td class="text-right" ng-show="toggleDashboardText">
                                {{ row.bonus2 }}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <strong>Totals</strong>
                            </td>
                            <td class="text-right">
                                <strong>{{ dashboard | sumOfValue:'swagbucks' }}</strong>
                            </td>
                            <td class="text-right money">
                                <strong>{{ dashboard | sumOfValue:'profit' | currency }}</strong>
                            </td>
                            <td class="text-right">
                                <strong>Bonus 1</strong>
                            </td>                            
                            <td class="text-right">
                                <strong>{{ dashboard | sumDailyGoal:'swagbucks':'goal1':'bonus1' }}</strong>
                            </td>
                            <td class="text-right"> 
                                <strong>Bonus 2</strong>
                            </td>                            
                            <td class="text-right">
                                <strong>{{ dashboard | sumDailyGoal:'swagbucks':'goal2':'bonus2' }}</strong>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-md-4" ng-repeat='user in users'>
        <div class="panel panel-default">
            <div class="panel-heading" style='overflow-x: hidden;'>
                <div style='margin-bottom: 4px;'>
                    <span class="glyphicon glyphicon-user" ng-class="((botStatus | filter: { swagname: user.swagname }) | sumOfValue:'online_status') === 3 ? 'text-success' : 'text-danger'" aria-hidden="true"
                          uib-popover-template="popover.templateUrl" popover-placement="right" popover-trigger="outsideClick" popover-append-to-body="true"></span>
                    <span class='lead' style='margin-left: 4px;'>{{ user.swagname}}</span>
                    <span class="label label-pill pull-right" ng-class="{'label-success' : user.current_swagbucks >= 2500, 'label-default' : user.current_swagbucks < 2500 }" style="margin-top: 4px;">{{ user.current_swagbucks }}</span>
                </div>
                <small style="font-size: 80%;">
                    <strong class='col-xs-4'>Email:</strong><span class='text-muted col-xs-4'>{{ user.email }}</span><br>
                    <strong class='col-xs-4'>Environment:</strong><span class='text-muted col-xs-4 text-nowrap'>{{ user.environment }}</span>
                </small>
                <hr>
            </div>
            <div class="panel-body" style="font-family: 'Lato', sans-serif;">
                <div class="row">
                    <table class='table table-striped table-condensed table-responsive'>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th class="text-right">Swagbucks</th>
                                <th class="text-right">Profit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Today
                                </td>
                                <td class="text-right">
                                    {{ getUsersDashboard(user.swagname).swagbucks }}
                                </td>
                                <td class="text-right money">
                                    {{ getUsersDashboard(user.swagname).profit | currency }}
                                </td>
                            </tr>
                            <tr ng-repeat="row in last5days | filter: { swagname: user.swagname }">
                                <td>
                                    {{ row.date | date }}
                                </td>
                                <td class="text-right">
                                    {{ row.swagbucks }}
                                </td>
                                <td class="text-right money">
                                    {{ row.profit | currency }}
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </div>
</div>

<script id="botstatus.html" type="text/ng-template">
    <div>
        <div class="arrow"></div>
        <div class="popover-inner">
            <h3 class="popover-title"><strong>{{ user.swagname }} Online Status</strong></h3>
            <div class="popover-content">
                <table class='table table-condensed table-responsive table-fixed'>
                    <thead>
                        <tr>
                            <th style="width: 200px; overflow-x: auto;">Script</th>
                            <th class="text-right">Last Response (min)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in botStatus | filter: { swagname: user.swagname }"
                            ng-class="{'success' : row.online_status == 1, 'danger' : row.online_status == 0 }">
                            <td style="width: 200px; overflow-x: auto;">
                                {{ row.script }}
                            </td>
                            <td class="text-right">
                                {{ row.time_diff }}
                            </td>
                        </tr>
                    </tbody>
                </table>             
            </div>
        </div>
    </div>
</script>