    

      <div class="page-header panel panel-default">
        <div class="panel-heading"><h1>Yearly Stats</h1>
        <span class='lead'>{{ today | date }}</span>
        </div>
      </div>

      <div class="row">
          <div class="col-md-4 col-sm-6">
              <div class="panel panel-default">
                  <div class="panel-heading"><h4>Bot 1</h4></div>
                  <div class="panel-body">
                      <ul class="list-group">
                          <li class="list-group-item">Modal / Dialog</li>
                          <li class="list-group-item">Modal / Dialog</li>
                          <li class="list-group-item">Modal / Dialog</li>

                      </ul>
                  </div>
              </div>

          </div>
      </div>